@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

text {
    font-family: "Merriweather";
    font-size: 9pt;
}

#subject {
    font-weight: bold;
    stroke-width: 0.1em;
}