@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

svg {
    background-color: #fdfdea;
}

text {
    font-family: "Merriweather";
    font-size: 9pt;
}

.male polygon {
    fill: #6fafdc;
}

.female polygon {
    fill: #56d34b;
}

#subject {
    font-weight: bold;
    stroke-width: 2px;
}