body {
    overflow-x: hidden;
    font-size: 2vmin;
}

.right {
    text-align: right;
}

.fullwidth {
    width: 100%;
}

.person {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.person > .info {
    flex: 1 1 400px;
}

.person > .portrait {
    flex: 0 1 auto;
    max-width: 40vw;
    min-width: 250px;
    margin: 10px;
}

.person > .portrait > img {
    max-width: 100%;
    border: 1px solid #333;
}