body {
    overflow-x: hidden;
    font-size: max(2vmin, 12px);
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ffe;
}

h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-style: dotted;
}

.right {
    text-align: right;
}

.fullwidth {
    width: 100%;
}

.person {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.person > .info {
    flex: 1 1 400px;
}

.person > .portrait {
    flex: 0 1 auto;
    max-width: 40vw;
    min-width: 250px;
    margin: 10px;
}

.person > .portrait > img {
    max-width: 100%;
    border: 1px solid #333;
}

.person td {
    vertical-align: top;
}

.person td:nth-child(1) {
    padding-right: 0.5em;
}

.person td:nth-child(1):after {
    content: ":"
}

.person ul {
    margin: 0.1em 0;
    padding-left: 1em;
    list-style-type: circle;
}