body {
    overflow-x: hidden;
    font-size: max(2vmin, 12px);
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background-color: #ffe;
}

h1 {
    font-size: 2em;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 1.5em;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-style: dotted;
}

input {
    font-size: 0.8em;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

body:has(.center) {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

.right {
    text-align: right;
}

.fullwidth {
    width: 100%;
}

.notification {
    background-color: #d33;
    color: #400;
    border: 0.1em solid #800;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    padding: 0.05em 0.25em;
    opacity: 95%;
    cursor: default;
}

.notification:hover {
    opacity: 100%;
}

.nowrap {
    white-space: nowrap;
}

#query {
    width: 12em;
}

.person {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.person > .info {
    flex: 1 1 400px;
}

.person > .portrait {
    flex: 0 1 auto;
    max-width: 40vw;
    min-width: 250px;
    margin: 10px;
}

.person > .portrait > img {
    max-width: 100%;
    border: 0.1em solid #333;
}

.person td {
    vertical-align: top;
}

.person td:nth-child(1) {
    padding-right: 0.5em;
}

.person td:nth-child(2) {
    max-width: 40em;
}

.person td:nth-child(1):after {
    content: ":"
}

.person ul {
    margin: 0 0 0.2em;
    padding-left: 1em;
    list-style-type: circle;
}

.notes {
    font-size: 0.9em;
}

.spurious, .spurious * {
    font-style: italic;
}