{% from 'macros.html' import person_link -%}
<!DOCTYPE html>
<html>
    <head>
        {% block head -%}
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Marcellus&family=Vollkorn+SC&family=Vollkorn:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='family_tree.css') }}" />
        {%- endblock %}
    </head>
    <body>
        {% block search_box -%}
        <div class="fullwidth right">
            <form action="search">
                <label for="query">Search:</label>
                <input type="text" name="query" id="query">
                <input type="submit">
            </form>
        </div>
        {%- endblock %}
        {%- block content %}{% endblock %}
    </body>
</html>