{% from 'macros.html' import search_box, person_link -%}
<!DOCTYPE html>
<html>
    <head>
        {% block head -%}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Marcellus&family=Vollkorn+SC&family=Vollkorn:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='family_tree.css') }}" />
        {%- endblock %}
    </head>
    <body>
        {% block search_bar -%}
        <div class="fullwidth right">
            {{ search_box() }}
        </div>
        {%- endblock %}
        {%- block content %}{% endblock %}
    </body>
</html>