{% macro search_box(autofocus=False) -%}
{% if autofocus %}{% set af = ' autofocus="autofocus"' %}{% endif -%}
            <form action="{{ url_for('search') }}">
                <input type="text" name="query" id="query"{{ af }}>
                <input type="submit" value="Search">
            </form>
{%- endmacro %}

{% macro person_link(person, dates=False) -%}
    {% if person.spurious %}<span class="spurious">{% endif -%}
    <a href="{{ url_for('person_page', id=person.id) }}">{{ person.name }}</a>
    {%- if (dates == 'b') and person.year_of_birth
      %} <span class="nowrap">(b. {{ person.year_of_birth }})</span>
    {%- elif dates and person.years
      %} <span class="nowrap">({{ person.years }})</span>{% endif -%}
    {% if person.spurious %}</span>{% endif -%}
{%- endmacro %}

{% macro relationship_description(rel) -%}
{{ rel.partner_description.capitalize() }} {{ person_link(rel.partner, 'b') }}
{%- if rel.dates %}, <span class="nowrap">{{ rel.dates }}</span>{% endif %}
{%- if rel.end_type_description() %} ({{
    rel.end_type_description(noun=rel.dates, until=(not rel.dates))
}}){% endif -%}
{%- endmacro %}